@model IEnumerable<Ecommerce.Models.Product>


<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4 pt-2">
            <div class="card shadow" style="width: 18rem;">
                <h5 class="card-title text-center pt-1">@item.Name</h5>
                <h5 class="card-title text-center pt-1">@item.ExpireDate</h5>
                <div class="inner">
                    @{
                        String img64 = Convert.ToBase64String(item.Image);
                        String img64url = string.Format("data:Image/" + item.Image + ";base64,{0}", img64);
                    }
                    <img src="@img64url" class="card-img-top" style="height: 250; width: 100%;" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Price: @item.Price</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

    }
</div>