@model Ecommerce.Models.RazorViewModels.Product.ProductVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProductVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input type="date" asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            @*<div class="form-group"> Image preview Added
                <div class='container'>
                    <form action="multipart/form-data">
                        <div id="preview"><img src="" id="prev_img" width="100%" height='100%'></div>
                        <input type="file" name="file" id="file">
                        <br />
                        Width: <span id='width'></span><br />
                        Height: <span id='height'></span>
                        <h3 id='response'></h3>
                    </form>
                </div>
            </div>*@
        <div class="form-group">
            <div>
                <input type="file" name="file" id="profile-img" asp-for="Image">
            </div>
            <div>
                <img class="preview" src="" id="profile-img-tag" width="200px" />
            </div>
            <script type="text/javascript">
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#profile-img-tag').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#profile-img").change(function () {
                    readURL(this);
                });
            </script>

        </div>   
        @*<div class="form-group">
            <div>
            <label asp-for="ImagePath" class="control-label"></label>
            </div>
            <input type="file" asp-for="ImagePath" id="ImagePath" class="form-control" />
            <div class="col col-md-6"><img class="pro-thumb" src="" id="prev" width="200px" /></div>
            <span asp-validation-for="ImagePath" class="text-danger"></span>
            <script type="text/javascript">
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#prev').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#ImagePath").change(function () {
                    readURL(this);
                });
            </script>
        </div>*@
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>*@
            
                <div class="form-group">
                    <label asp-for="CategoryId" class="col-md-2">Category</label>@*Dropdown List Binding*@
                    <div class="col-md-8">
                        <select asp-for="CategoryId" asp-items="@ViewBag.SelectList" class="form-control"> </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

