@model IEnumerable<Ecommerce.Models.Product>


@foreach (var product in Model)
{
    <div class="container">
        <h2>Stretched Link in Card</h2>
        <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will act as a link):</p>
        <div class="card" style="width:400px">
            <img class="card-img-top" width="100" height-="100" src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" />
            <div class="card-body">
                <h4 class="card-title">@product.Name</h4>
                <h3 class="card-title">@product.Price</h3>
                <h3 class="card-title">@product.ExpireDate</h3>
                <h3 class="card-title">@product.CategoryId</h3>
                <p class="card-text">This is an Awesome Product. To buy Just Click Add To Cart and Checkout to make payment and Confirm Order.</p>
                <a href="#" class="btn btn-primary stretched-link">Add To Cart</a>
            </div>
        </div>
    </div>
}

